<h1>Editing vagrant_box_provider</h1>

<%= render 'form' %>

<%= link_to 'Show', vagrant_box_version_provider_path(@vagrant_box, @vagrant_box_version, @vagrant_box_version_provider) %> |
<%= link_to 'Back', vagrant_box_version_providers_path %>
